/* navbar section */

#navbar {
    flex-direction: column;
}


/* home section */

#home{
    height: 370px;
    padding: 3px 28px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}
.primeryone {
    font-family: 'Bree Serif', serif;
    padding: 17px;
    font-size: 1.3rem;

/* services section */

#services {
    flex-direction: column;
}


/* client section */



#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

 /* contact section */

 #contact-box form{
    width: 40%;
}

 /* utility section */